*{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0%;
}
    
    body{

    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.header{

    overflow: hidden;
}
 
.header img{

    float: left;
    width: 250px;
    margin-top: 40px;
    margin-left: 30px;
}

.header p{

    float: right;
    font-size: 80px;
    margin-top: 35px;
    margin-right: 60px;
    font-weight: bold;
    text-shadow: 4px 2px 40px;
    color: white;                                                  
}

.navbar{

    background-color: gray;
    overflow: hidden;
}

.navbar a{

    width: 25%;
    color: white;
    font-size: 30px;
    text-align: center;
    float: left;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
}

.navbar a:hover{

    background-color:white;
    color:black;
}

.OurInfo{

    background-color:gray;
    color: white;
    text-align: center;
    width: 100%;
    height: 140px;
    margin: 10px auto 5px auto;
}

.heading{

    background-color: black;
    color: white;
    width: 200px;
    text-transform: uppercase;
    height: 30px;
    padding-top: 5px;
    margin-left: 43%;
    margin-bottom: 5px;
}

.cards{

    width: 100%;
}

.cardsheading{

    background-color: grey;
    color: white;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    width: 800px;
    margin: 40px auto 20px auto;
}

.box{

    border: 3px dotted white;
    background-color: grey;
    float: left;
    margin-left: 4%;
    margin-right: 4%;
    width: 25%;
    height: 420px;
    font-size: 30px;
}

.box p{

    font-size: 30px;
    text-transform: uppercase;
    color: black;
    text-align: center;
    -webkit-text-stroke: 1px white;
}

.box p:hover{

     color: white;
    background-color: black;
}

.box img{

    display: block;
    margin: auto;
}

.footer p{

    background-color: black;
    color: white;
    text-align: left;
    width: 100%;
    text-transform: capitalize;
    padding-left: 80px;
    padding: 15px;
    padding-top: 40px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    border-bottom: 2px solid white;
font-size: 40px;
}